@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
section {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Righteous", cursive;
    min-height: 100vh;
    background-color: #a9c9ff;
    background-image: linear-gradient(180deg, #a9c9ff 0%, #ffbbec 100%);
}

.container1 {
    max-width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 35px;
    margin: 0 auto;
    padding: 40px 0;
}

.card1 {
    position: relative;
    width: 300px;
    height: 400px;
    margin: 0 auto;
    background: #000;
    border-radius: 15px;
    box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);
}

.face {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.face1 {
    box-sizing: border-box;
    padding: 20px;
}

h2 {
    margin: 0;
    padding: 0;
}

.java {
    background-color: #fffc00;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.python {
    background-color: #00fffc;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cSharp {
    background-color: #fc00ff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.face2 {
    transition: 0.5s;
}

h2 {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    color: black;
    transition: 0.5s;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.card1:hover .face.face2 {
    height: 60px;
}

h2 {
    font-size: 2em;
}

.card1:nth-child(1) .face.face2,
.card1:nth-child(2) .face.face2,
.card1:nth-child(3) .face.face2,
.card1:nth-child(3) .face.face2,
.card1:nth-child(4) .face.face2,
.card1:nth-child(5) .face.face2,
.card1:nth-child(6) .face.face2,
.card1:nth-child(7) .face.face2,
.card1:nth-child(8) .face.face2 {
    background-image: linear-gradient(40deg, #fff 0%, #fff 45%, #fff 100%);
    border-radius: 15px;
}

@media only screen and (min-width: 991px) and (max-width: 1200px) {
    section {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Righteous", cursive;
        min-height: 100vh;
        background-color: #a9c9ff;
        background-image: linear-gradient(180deg, #a9c9ff 0%, #ffbbec 100%);
    }
    .container1 {
        max-width: 100vw;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 35px;
        margin: 0 auto;
        padding: 40px 0;
    }
    .card1 {
        position: relative;
        width: 300px;
        height: 400px;
        margin: 0 auto;
        background: #000;
        border-radius: 15px;
        box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);
    }
    .face {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .face1 {
        box-sizing: border-box;
        padding: 20px;
    }
    h2 {
        margin: 0;
        padding: 0;
    }
    .java {
        background-color: #fffc00;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .python {
        background-color: #00fffc;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .cSharp {
        background-color: #fc00ff;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .face2 {
        transition: 0.5s;
    }
    h2 {
        margin: 0;
        padding: 0;
        font-size: 1.5rem;
        color: black;
        transition: 0.5s;
        text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        z-index: 10;
    }
    .card1:nth-child(1) .face.face2,
    .card1:nth-child(2) .face.face2,
    .card1:nth-child(3) .face.face2,
    .card1:nth-child(3) .face.face2,
    .card1:nth-child(4) .face.face2,
    .card1:nth-child(5) .face.face2,
    .card1:nth-child(6) .face.face2,
    .card1:nth-child(7) .face.face2,
    .card1:nth-child(8) .face.face2 {
        background-image: linear-gradient(40deg, #fff 0%, #fff 45%, #fff 100%);
        border-radius: 15px;
    }
    .card1:hover .face.face2 {
        height: 60px;
    }
    h2 {
        font-size: 2em;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    section {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Righteous", cursive;
        min-height: 100vh;
        background-color: #a9c9ff;
        background-image: linear-gradient(180deg, #a9c9ff 0%, #ffbbec 100%);
    }
    .container1 {
        max-width: 100vw;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 35px;
        margin: 0 auto;
        padding: 40px 0;
    }
    .card1 {
        position: relative;
        width: 300px;
        height: 400px;
        margin: 0 auto;
        background: #000;
        border-radius: 15px;
        box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);
    }
    .face {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .face1 {
        box-sizing: border-box;
        padding: 20px;
    }
    h2 {
        margin: 0;
        padding: 0;
    }
    .java {
        background-color: #fffc00;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .python {
        background-color: #00fffc;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .cSharp {
        background-color: #fc00ff;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .face2 {
        transition: 0.5s;
    }
    h2 {
        margin: 0;
        padding: 0;
        font-size: 1.5rem;
        color: black;
        transition: 0.5s;
        text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        z-index: 10;
    }
    .card1:hover .face.face2 {
        height: 60px;
    }
    h2 {
        font-size: 2em;
    }
    .card1:nth-child(1) .face.face2,
    .card1:nth-child(2) .face.face2,
    .card1:nth-child(3) .face.face2,
    .card1:nth-child(3) .face.face2,
    .card1:nth-child(4) .face.face2,
    .card1:nth-child(5) .face.face2,
    .card1:nth-child(6) .face.face2,
    .card1:nth-child(7) .face.face2,
    .card1:nth-child(8) .face.face2 {
        background-image: linear-gradient(40deg, #fff 0%, #fff 45%, #fff 100%);
        border-radius: 15px;
    }
}

@media only screen and (max-width: 767px) {
    section {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Righteous", cursive;
        min-height: 100vh;
        background-color: #a9c9ff;
        background-image: linear-gradient(180deg, #a9c9ff 0%, #ffbbec 100%);
    }
    .container1 {
        max-width: 100vw;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 35px;
        margin: 0 auto;
        padding: 40px 0;
    }
    .card1 {
        position: relative;
        width: 300px;
        height: 400px;
        margin: 0 auto;
        background: #000;
        border-radius: 15px;
        box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);
    }
    .face {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .face1 {
        box-sizing: border-box;
        padding: 20px;
    }
    h2 {
        margin: 0;
        padding: 0;
    }
    .java {
        background-color: #fffc00;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .python {
        background-color: #00fffc;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .cSharp {
        background-color: #fc00ff;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .face2 {
        transition: 0.5s;
    }
    h2 {
        margin: 0;
        padding: 0;
        font-size: 1.5rem;
        color: black;
        transition: 0.5s;
        text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        z-index: 10;
    }
    .card1:hover .face.face2 {
        height: 60px;
    }
    h2 {
        font-size: 2em;
    }
    .card1:nth-child(1) .face.face2,
    .card1:nth-child(2) .face.face2,
    .card1:nth-child(3) .face.face2,
    .card1:nth-child(3) .face.face2,
    .card1:nth-child(4) .face.face2,
    .card1:nth-child(5) .face.face2,
    .card1:nth-child(6) .face.face2,
    .card1:nth-child(7) .face.face2,
    .card1:nth-child(8) .face.face2 {
        background-image: linear-gradient(40deg, #fff 0%, #fff 45%, #fff 100%);
        border-radius: 15px;
    }
}

body {
    background: #fff;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.pricingTable {
    text-align: center;
    background: #fff;
    margin: 0 -15px;
    box-shadow: 0 0 10px #ababab;
    padding-bottom: 40px;
    border-radius: 10px;
    color: #cad0de;
    transform: scale(1);
    transition: all .5s ease 0s
}

.pricingTable:hover {
    transform: scale(1.05);
    z-index: 1
}

.pricingTable .pricingTable-header {
    padding: 40px 0;
    background: #f5f6f9;
    border-radius: 10px 10px 50% 50%;
    transition: all .5s ease 0s
}

.pricingTable:hover .pricingTable-header {
    background: #ff9624
}

.pricingTable .pricingTable-header i {
    font-size: 50px;
    color: #858c9a;
    margin-bottom: 10px;
    transition: all .5s ease 0s
}

.pricingTable .price-value {
    font-size: 35px;
    color: #ff9624;
    transition: all .5s ease 0s
}

.pricingTable .month {
    display: block;
    font-size: 14px;
    color: #cad0de
}

.pricingTable:hover .month,
.pricingTable:hover .price-value,
.pricingTable:hover .pricingTable-header i {
    color: #fff
}

.pricingTable .heading {
    font-size: 24px;
    color: #ff9624;
    margin-bottom: 20px;
    text-transform: uppercase
}

.pricingTable .pricing-content ul {
    list-style: none;
    padding: 0;
    margin-bottom: 30px
}

.pricingTable .pricing-content ul li {
    line-height: 30px;
    color: #a7a8aa
}

.pricingTable .pricingTable-signup a {
    display: inline-block;
    font-size: 15px;
    color: #fff;
    padding: 10px 35px;
    border-radius: 20px;
    background: #ffa442;
    text-transform: uppercase;
    transition: all .3s ease 0s
}

.pricingTable .pricingTable-signup a:hover {
    box-shadow: 0 0 10px #ffa442
}

.pricingTable.blue .heading,
.pricingTable.blue .price-value {
    color: #4b64ff
}

.pricingTable.blue .pricingTable-signup a,
.pricingTable.blue:hover .pricingTable-header {
    background: #4b64ff
}

.pricingTable.blue .pricingTable-signup a:hover {
    box-shadow: 0 0 10px #4b64ff
}

.pricingTable.red .heading,
.pricingTable.red .price-value {
    color: #ff4b4b
}

.pricingTable.red .pricingTable-signup a,
.pricingTable.red:hover .pricingTable-header {
    background: #ff4b4b
}

.pricingTable.red .pricingTable-signup a:hover {
    box-shadow: 0 0 10px #ff4b4b
}

.pricingTable.green .heading,
.pricingTable.green .price-value {
    color: #40c952
}

.pricingTable.green .pricingTable-signup a,
.pricingTable.green:hover .pricingTable-header {
    background: #40c952
}

.pricingTable.green .pricingTable-signup a:hover {
    box-shadow: 0 0 10px #40c952
}

.pricingTable.blue:hover .price-value,
.pricingTable.green:hover .price-value,
.pricingTable.red:hover .price-value {
    color: #fff
}

@media screen and (max-width:990px) {
    .pricingTable {
        margin: 0 0 20px
    }
}